html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.meulogo {
    margin: 0 auto;
}



.logopequeno {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    height: auto;
}

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.h-custom {
    height: calc(100% - 73px);
}

@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}

.logoajust {
    float: none;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    width: 60%;
}


section.secajust {
    margin-top: 1rem;
}

.icon {
    padding: 0.5rem;
    color: rgb(0, 0, 0);
    min-width: 50px;
    text-align: center;
}

/* Style the input container */
.input-container {
    display: flex;
    width: 100%;
}

/* Style the form icons */
.icon {
    padding: 10px;

    color: #32a7ea;
    min-width: 50px;
    text-align: center;
}

/* Style the input fields */
.input-field {
    width: 120%;
    padding: 10px;
    outline: none;
}

.input-field:focus {
    border: 2px solid #32a7ea;
}

/* Set a style for the submit button */


.botao {
    width: 100%;

}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #32a7ea;
    --bs-btn-border-color: #32a7ea;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #84b8d6;
    --bs-btn-hover-border-color: #84b8d6;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #84b8d6;
    --bs-btn-active-border-color: #84b8d6;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #32a7ea;
    --bs-btn-disabled-border-color: #32a7ea;
}

/* Style all font awesome icons */

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

.mediasocial {
    color: #32a7ea;
}

.mediarosa {
    color: #f895d6;
}

.mediaamarelo {
    color: #ffc700;
}

.mediaverde {
    color: #4aac4e;
}

/* cores projeto 
    azul - 32a7ea
    rosa - f895d6
    amarelo - ffc700
    verde - 4aac4e
*/

.mediasocialfooter {
    --bs-bg-opacity: 1;
    background-color: #32a7ea;
}

footer {
    color: #32a7ea;
}





/*  CSS PAGINA FORA */




.forum-post-container .media {
    margin: 10px 10px 10px 10px;
    padding: 20px 10px 20px 10px;
    border-bottom: 1px solid #f1f1f1;
}

.forum-avatar {
    float: left;
    margin-right: 20px;
    text-align: center;
    width: 110px;
}

.forum-avatar .img-circle {
    height: 48px;
    width: 48px;
}

.author-info {
    color: #676a6c;
    font-size: 11px;
    margin-top: 5px;
    text-align: center;
}

.forum-post-info {
    padding: 9px 12px 6px 12px;
    background: #f9f9f9;
    border: 1px solid #f1f1f1;
}

.media-body>.media {
    background: #f9f9f9;
    border-radius: 3px;
    border: 1px solid #f1f1f1;
}

.forum-post-container .media-body .photos {
    margin: 10px 0;
}

.forum-photo {
    max-width: 140px;
    border-radius: 3px;
}

.media-body>.media .forum-avatar {
    width: 70px;
    margin-right: 10px;
}

.media-body>.media .forum-avatar .img-circle {
    height: 38px;
    width: 38px;
}

.mid-icon {
    font-size: 66px;
}

.forum-item {
    margin: 10px 0;
    padding: 10px 0 20px;
    border-bottom: 1px solid #f1f1f1;
}

.views-number {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
}

.forum-container,
.forum-post-container {
    padding: 30px !important;
}

.forum-item small {
    color: #999;
}

.forum-item .forum-sub-title {
    color: #999;
    margin-left: 50px;
}

.forum-title {
    margin: 15px 0 15px 0;
}

.forum-info {
    text-align: center;
}

.forum-desc {
    color: #999;
}

.forum-icon {
    float: left;
    width: 30px;
    margin-right: 20px;
    text-align: center;
}

a.forum-item-title {
    color: inherit;
    display: block;
    font-size: 18px;
    font-weight: 600;
}

a.forum-item-title:hover {
    color: inherit;
}

.forum-icon .fa {
    font-size: 30px;
    margin-top: 8px;
    color: #9b9b9b;
}

.forum-item.active .fa {
    color: #1ab394;
}

.forum-item.active a.forum-item-title {
    color: #1ab394;
}

@media (max-width: 992px) {
    .forum-info {
        margin: 15px 0 10px 0;
        /* Comment this is you want to show forum info in small devices */
        display: none;
    }

    .forum-desc {
        float: none !important;
    }
}